img {
    width: 100%;
    border-radius: 7rem !important;
    object-fit: cover;
    transition: 0.3s;
}
img:hover{
    transform: scale(1.1); 
}
#Container-Main-1{
    position: relative;
    width: clamp(300px, 100%, 1980px);
    height: max-content
}
.Profile-Container{
    width: clamp(300px, 100%, 1980px);
    height: clamp(292px, 43vh, 292px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}
.Profile-Boxs{
    width: clamp(191px, 14vw, 191px);
    height: clamp(251px, 37vh, 251px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile-UL{
    padding-left: 0px;
    list-style: none;
}

.Profile-Names-H{
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}
li:nth-child(3){
    color: rgb(109, 109, 109);
}

